@font-face {
  font-family: "Dinot";
  src: url("../public/fonts/dinot/Dinot-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dinot";
  src: url("../public/fonts/dinot/Dinot-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Dinot";
  src: url("../public/fonts/dinot/Dinot-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Dinot, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

html,
body,
#__next {
  font-size: 100% !important;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
